.git
.gitignore
.gitattributes
README.md

**/.env
**/.env.*
!**/.env.example

**/.next
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/__pycache__
**/*.pyc
**/node_modules
**/htmlcov
**/.coverage

C:/Users/Admin/.codex
