ENVIRONMENT=development
DATABASE_URL=postgresql://username:password@ep-example-pooler.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ORIGINS=["http://localhost:3000"]
SQL_ECHO=false
